@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/robotoregular.html') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src:  url(../fonts/Roboto-Regular.woff) format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/robotoregular-2.html#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face{font-family:'latoregular';
    src:url('../fonts/lato-regular.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff');
    font-weight:normal;font-style:normal;
    font-display: swap;}
@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.woff2') format('woff2'),
         url('../fonts/lato-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;font-display: swap;}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src:  url(../fonts/Roboto-Medium.woff) format('woff'), url('../fonts/Roboto-Medium.ttf')  format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;font-display: swap;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;font-display: swap;

}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src:  url(../fonts/Roboto-Black.woff) format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;font-display: swap;
}
body {/*overflow-x: hidden;*/font-size: 18px;
    line-height: 1.3;
    color: #000;
    font-family:'latoregular';
    font-weight: 400;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;}
ul{list-style:none; padding: 0;}
ul li{display: inline-block;}
a, a:hover{text-decoration:none}
section{width:100%;float:left;overflow:hidden}
body.page-template-newpapge-homepage ,
.page-template-newpapge-homepage p,
.page-template-home-video .leader-box p, .train-wrapper p{color:#000000;font-size:18px;font-family:'latoregular';line-height:26px}
/*p strong {
    color: #184d8f;
} */
.grey-banner h1 {
    font-weight: 700;
    font-size:50px;
    color:#fff;
}
/*.max-container-width{width:750px;}*/
/*.container-width{width:750px;}*/
.gallery-section .ngg-slideshow.slick-slider {
    margin: 0px auto 0px !important;
    overflow: visible;
}
.newheader .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    -webkit-transition: all 0.9s ease-in-out;
      transition: all 0.9s ease-in-out;
  }
.newheader .dropdown-menu>li>a{
    white-space: inherit;
}
.newheader #menu-main-menu {
    display: block !important;
}
.newheader .row {
    display: flex;
    align-items: center;
}
.newheader ul.header-info .fa{
    padding-right:10px;
    font-size:14px;
    color:#ff401a;
}
.sidebar, article{ opacity:0;}
.page-template-template-fullwidth article{opacity:1;}
.slider-content, .expert-box{
        display:none;
}
.page-template-home-video .slider-content,
.page-template-home-video .expert-box,
.page-template-home-video section.leader .container{
        display:block;
}
section.leader .container {
        display:none;
}
.newheader .navbar-nav>li {
    float: left;
    margin-right: 0px;
}

.newheader ul.header-info li a {
    font-size: 16px;
    font-family: 'Roboto-Medium';
}


.newheader ul.header-info li:after{
    content:"|";
    padding: 0 10px;
}
.newheader ul.header-info li:nth-last-child(1):after{
    display:none;
}
.newheader ul.header-info {
    float: right;
    margin-bottom: 0;
    padding-top: 10px;
}
/*.page-template-newpapge-homepage .newheader .navbar-inverse .navbar-nav>.open>a,
.page-template-newpapge-homepage .newheader .navbar-inverse .navbar-nav>.open>a:focus,
.page-template-newpapge-homepage .newheader .navbar-inverse .navbar-nav>.open>a:hover {
     background: rgb(0,41,98);
    background: linear-gradient(0deg, rgba(0,41,98,1) 8%, rgba(0,67,155,1) 93%);
}*/
.newheader .navbar-inverse {
   /* background: rgb(0,41,98);
    background: linear-gradient(0deg, rgba(0,41,98,1) 8%, rgba(0,67,155,1) 93%);*/
    border-radius: 0;
    margin-bottom: 0;
    border:none;
}
.newheader ul.nav.navbar-nav li a {
    padding: 25px 10px;
    line-height: 22px;
    text-transform:uppercase;
    font-size:14px;
     font-family: 'latoregular';
    color: #333;
}

.page-template-home-video .newheader ul.nav.navbar-nav li a{
    color: #fff;
}
.newheader .navbar-nav>li:nth-last-child(1) {
    margin-right: 0;
}
.newheader ul.nav.navbar-nav li a .active{
    color:red;
}
.newheader .navbar-inverse .navbar-nav>.active>a {
    background-color: inherit;
    color: #ff9e3b!important;
}
.newheader .menu-item-has-children:hover ul.dropdown-menu {
    background-color: #FF401A;
}
.newheader #transc-navbar-nav .menu-item-has-children:hover ul.dropdown-menu {
    background-color: #f16632;
    top: 60px;
    position: absolute;
    border: none;
    box-shadow: none;
}
.newheader .dropdown-menu {
    background-color: #FF401A;
}
.newheader .menu-item-has-children:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    top: 10px;
    right: -7px;
}
.newheader #transc-navbar-nav .menu-item-has-children:after {
    color: #f16531;
}
.page-template-home-video .newheader .menu-item-has-children:after {
    top: 26px;
    right: -1px;
    display:none;
}
.newheader .navbar-nav>li>.dropdown-menu li {
    width: 100%;
}

.newheader .navbar-nav>li>.dropdown-menu li a {
    font-size: 14px;
    width: 260px;
}
.newheader #transc-navbar-nav>li>.dropdown-menu li a {
    font-size: 16px;
    width:230px;
}
.page-template-newpapge-homepage .newheader .navbar-nav>li>.dropdown-menu li.active a{
    background-color: #003b89;
}
.newheader .navbar-nav>li>.dropdown-menu li.active a{
    background-color: inherit!important;
}

.newheader #transc-navbar-nav>li:hover :after {
    content: "";
    height: 1px;
    top: 65px;
    background-color: #f16531;

}

.newheader  #transc-navbar-nav>li.menu-item-has-children:hover :after,
.newheader .navbar-nav>li.current-menu-item :after,
.newheader .navbar-nav>li.current-menu-item .menu-item-has-children :after, 
.newheader .navbar-nav>li.active:before{
    background-color:inherit;
}
.newheader ul.dropdown-menu {
    max-width: 270px;
}
.newheader #transc-navbar-nav ul.dropdown-menu {
    max-width: 230px;
}
/*Slider Image*/
section.hero-image {background-color: #333; min-height: 400px; position: relative;background-repeat: no-repeat; background-size: cover;}
section.hero-image .header-content { width: 100%;text-align: center;margin-top:85px;}

section.hero-image .header-content h1 {font-size: 55px;font-family: 'Roboto-Medium' !important; color: #fff; margin-top:0px; text-shadow: 4px 4px #000; margin-bottom:28px;}
section.hero-image .header-content p {color: #fff; font-family:'latoregular'; font-size: 18px;max-width: 740px;margin: 0 auto;}
section.hero-image .header-content .common-btn,
.application-about-app .common-btn,
.get-quote-btn .common-btn,
.train-wrapper  .common-btn{
    background: rgb(138,27,4); background: linear-gradient(357deg, rgba(138,27,4,1) 8%, rgba(236,58,22,1) 87%); color: #ffffff; font-size: 14px; border: 2px solid #fff;  padding: 9px 45px; border-radius: 5px; -webkite-transition:0.3s all; transition:0.3s all;  font-family: 'latobold';text-transform:uppercase; letter-spacing:2px;
    
}
section.hero-image .header-content .common-btn{
        padding: 9px 45px;
}
.three-btn .common-btn:nth-child(4),.three-btn .common-btn:nth-child(1) {
    padding: 19px 45px!important;
}

section.hero-image .header-content .common-btn:hover,
.common-btn:hover, .application-about-app .common-btn:hover,
.get-quote-btn .common-btn:hover, 
.train-wrapper  .common-btn:hover { border:2px solid #af2a0f;color:#fff;}
/*Expert*/
section.expert-solution .container.max-container-width {width: 1240px;padding: 25px 0;}
.expert-box { text-align: center; width: 100%; margin: 0 auto; padding: 25px 0;}
.expert-box h1{color: #00449e; font-size: 55px;font-family: 'Roboto-Medium' !important;}
.expert-box h2, section.leader h2,.leader-box h2, .product h2, .white-bg h2 {
    color: #00449e;
    font-size: 2.5em;
   font-family: 'Roboto-Medium' !important;
    margin-bottom: 15px;
}
.expert-box  p {
    font-size: 18px;
}
/*counter*/
section.counter {
    background-color: #95350d;
}
section.counter h3 {
    font-size: 40px;
     font-family: 'latobold' !important;
     margin-bottom:5px;
}
section.counter .row {
    display: flex;
    gap: 30px;
    justify-content: center;
}
section.counter .row .col-sm-4 {
    padding: 0;
}
section.counter .row .counter-box {
    width: 219px;
}
/*Loaderimge*/
section.leader {
    margin-bottom: 70px;
    margin-top: 40px;
}
section.leader .lead-img{
    padding-right:15px;
}
section.leader .lead-content{
    padding-right:0px;
}
section.leader .fig, .recycle .fig {
    background: rgb(255,64,26);
    background: linear-gradient(360deg, rgba(255,64,26,1) 50%, rgba(0,68,158,1) 51%);
    padding: 25px 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
section.leader .fig img, .recycle .fig img{
        -webkit-border-radius: 0px 15px 0 15px;
        border-radius: 0px 15px 0 15px;
}
section.leader h2:before, .recycle h2:before  {
    background-color: #ff401a;
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 7px;
    height: 82%;
}
section.leader h2, .recycle h2{
   position:relative;
    padding-left: 18px;
    margin-top: 0;
    margin-bottom:20px;
}

.counter-box h3 {
    color:#fff;
}
.counter-box {
    text-align: center;
    border: 4px solid rgba(197, 197, 197, 0.23);
    opacity: inherit;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
section.counter {
    background-color: #eee;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}
.counter-box p {
    color: #fff;
    font-size: 11px;
}
.turnkey{
    padding:70px 0;
    position:relative;
}
section.turnkey:after {
    content: "";
    position: absolute;
    bottom: 0;
background: rgb(249,249,249);
background: linear-gradient(173deg, rgba(249,249,249,1) 0%, rgba(231,231,231,1) 100%);
    width: 100%;
    left: 0;
    z-index: -1;
    top: 143px;
}
section.turnkey .recycle .leader-box {
    padding-right: 0px;
}
section.turnkey .recycle .content {
    padding-right: 0;
}
section.turnkey .fig {
    margin-left: 15px;
}
/*testimonial*/
.testimonial-wrapper {
    display: flex;
    background: rgb(0,67,156);
    background: linear-gradient(180deg, rgba(0,67,156,1) 0%, rgba(0,41,98,1) 99%);
}
.testimonial-wrapper  .col-lg-4.col-md-4{
    background-repeat:no-repeat;
    background-size:cover;
}
.home-testimonial{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 2px;
}
.home-testimonial .col-lg-8.col-md-8{
    width:62%;
}
.home-testimonial .col-lg-4.col-md-4{
    width:38%;
}
.home-testimonial .testimonail-box {
    padding: 45px 45px 30px 45px;
    background-color:transparent;
}
.home-testimonial .testimonial-info {
    display: flex;
}
.home-testimonial .testimonial-img {
    display: inline-block;
    width: 100%;
    max-width: 200px;
}
.home-testimonial .testimonial-img  img{
       -webkit-border-radius: 0px 15px 0px 15px;
       border-radius: 0px 15px 0px 15px;
}
.home-testimonial .info {
    vertical-align: middle;
    align-items: center;
    color: #fff;
    padding-left: 25px;
    padding-top: 25px;
}
.home-testimonial .info h4 {
    font-size: 26px;
   font-family: 'Roboto-Medium' !important;
}
.home-testimonial .info span {
    font-size: 16px;
}
.home-testimonial .testimonial-content {
    padding: 30px 114px 0px 113px;
    position: relative;
}
.home-testimonial .testimonial-content:before {
    content: "";
    background-image: url(../images/newhome-image/double-quotes.png);
    left: 0;
    position: absolute;
    color: #ff401a;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 80px;
}
.home-testimonial .testimonial-content p {
    color: #fff;
    font-size: 15px;
}
.home-testimonial .testimonial-wrapper .col-lg-8.col-md-8 {
    padding: 0;
    
}
/*application form */
section.contact-application .col-md-12.application-about-app {
    padding: 60px 0;
    text-align: center;
}
.col-md-12.application-about-app .common-btn {
    box-shadow: 3px 3px 3px 0px #dedcdc;
    display: block;
    white-space: inherit;
}
/*Products*/
.product-fig img:hover {
    transform: scale(1.3);
}
.product-fig img {
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out!important;
    transition: .3s ease-in-out !important;
}
.product-fig {
    overflow: hidden;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}
section.product {
    padding: 70px 0 50px 0;
}
section.product h2 {
    border-bottom: 3px solid #00449e;
    padding-bottom: 5px;
    position:relative;
}
section.product h2:before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #ff401a;
    bottom: -3px;
    position: absolute;
    max-width: 420px;
}
section.product .product-wrapper {
    width: 100%;
    float: left;
    padding: 55px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
section.product .product-box {
    position: relative;
        background: linear-gradient(59deg, rgba(14,30,54,1) 0%, rgb(53, 107, 179) 73%);
    -webkit-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
}
.product-fig img{
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

section.product .product-wrapper .col-sm-4.col-md-4.col-xs-12 {
    margin-bottom: 25px;
}
section.product .product-link {
    position: absolute;
    top: 15px;
    background-color: #ff401a;
    left: 15px;
}
section.product .product-link a {
    padding: 6px 15px;
    margin: 0;
    display: block;
}
section.product .product-link .fa {
    color: #fff;
    font-size: 15px;
}
section.product .title h3 {
    font-size: 16px;
    color: #fff;
    border-right: 6px solid #ff401a;
    margin-top: 0;
    padding: 16px;
    font-family: 'Roboto-Medium' !important;
}
section.product:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    top: 790px;
    background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 100%, rgba(231,231,231,1) 100%);
    box-shadow: 4px -23px 19px 3px #e5e5e5 inset;
}
section.product {
    position: relative;
}
/*market*/
section.product.market {
    position: relative;
    padding: 70px 0  85px 0;
}
section.product.market:after {
    top: 1240px;
}
section.product.market .row.get-quote-btn {
    padding-top: 35px;
}
section.product.market .row.get-quote-btn .common-btn {
    box-shadow: 2px 3px 2px 0px #dedcdc;
}

/*White aree*/
.white-bg {
    background-repeat: no-repeat;
    background-size: cover;
    
}
.white-bg .train-fig {
    width: 150px;
    margin: 0 auto;
    height:105px;
}
.white-bg .train-wrapper {
    padding: 45px 0;
}
.white-bg .train-wrapper p {
    font-size: 15px;
    padding-bottom: 15px;
}
.white-bg .common-btn {
    font-size: 14px;
    box-shadow: 2px 3px 2px 0px #dedcdc;
    text-transform: uppercase;
}
/*footer*/
.footer-wrapper .col-lg-4.col-md-4.col-xs-12:nth-child(2) .footer-wrapper{
        padding-left: 70px;
} 
.footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(2) .footer-wrapper{
        padding-left: 30px;
} 
.footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(3){
    padding-right:0px;
     padding-left:0px;
}
.footer-wrapper .col-lg-4.col-md-4.col-xs-12:nth-child(3) .footer-wrapper{
      padding-left: 90px;
}
.footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(3) .footer-wrapper{
      padding-left: 65px;
}
.footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(4) .footer-wrapper{
      padding-left: 90px;
}

section.footer ul li {
    display: block;
    line-height: 20px;
    padding-bottom: 10px;
}
section.footer {
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
section.footer h3 {
    color: #f83e19;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
   font-family: 'Roboto-Black' !important;
}
.footer-wrapper h3 {
    padding-bottom: 15px;
}
.footer-wrapper ul li a {
    color: #fff;
    text-decoration: none;
}
section.footer-bg {
    background-color: #00357d;
    padding: 20px 0 12px 0;
}
.footer-wrapper ul.header-info {
    margin: 0;
}
.footer-wrapper ul.header-info li:after {
    content: "|";
    padding: 0 10px;
    color: #fff;
}
.footer-wrapper ul.header-info li{
    position:relative;
}
.footer-wrapper ul.header-info li a, .footer-wrapper ul.header-info li {
     color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto-Medium';
    line-height:40px;

}
.footer-wrapper ul.header-info li:nth-last-child(1):after {
    display: none;
}
.footer-wrapper ul.header-info li .fa {
    margin-right: 8px;
    color: #ff401a;
}
.footer-wrapper ul.header-info li .fa-phone{
    margin-right: 8px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    top: 0px;

}

.logo-fig.pull-left {
    width: 190px;
}
section.copyright {
    padding: 15px 0;
}
.footer-wrapper.pull-right.youtube-link a {
    color: #fff;
    height: 35px !important;
    width: 35px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px !important;
    background-color: #ff401a;
    margin-right: 5px;
}
.footer-wrapper.pull-right.youtube-link svg {
    background-color: #ff401a;
    fill: #fff;
    height: 20px;
    width: 20px;
}
.footer-wrapper.pull-right.youtube-link .fab {
    background-color: #ff401a;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-left: 5px;
    font-size: 22px;
}
.footer-wrapper.pull-right.youtube-link .fa {
    background-color: #ff401a;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-left: 5px;
    font-size: 22px;
}
/*.copyright-content{
        color: #00347d !important;
        font-family: 'Roboto-Medium';
        padding-top: 8px;font-size: 15px !important;
}*/

.footer-wrapper .news-menu {
    margin-top: 45px;
}
.widget_nav_menu > h3 {
    display: none;
}
/*Inner Pages start Here*/
.gallery .slick-slider .slick-next,.gallery .slick-slider .slick-prev {
    background: transparent!important;
}
section#primary {
    padding-top: 0;
    background-color: #fff!important;
}
.page-template-all-form-template section#primary {
     border-bottom: 6px solid #fff;
}
section#primary .wrapper {
    max-width: 100%;
}
.wp-block-image img {
    padding: 0 0 5px 0;
   /* border-bottom-left-radius: 40px;
    border-top-right-radius: 35px;*/
    width:100%;
    object-fit: cover;
}
.wp-block-image {
   /* background: linear-gradient(360deg, rgba(255,64,26,1) 50%, rgba(0,68,158,1) 51%);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;*/
    width:100%;
    margin:0 auto!important;
    max-width:415px !important;
}
.wp-block-image>figure {
    width: 100%;
}
.wp-block-image.mortar-img {
    max-width: 600px !important;
}
.content-area.sidebar-template .entry-content ul{
    list-style: outside;
    line-height: 28px;
    padding-left: 15px;
    margin-bottom:10px;
}
#print-area ul
{	
list-style: inherit;
padding-left: 50px;		
}
.content-area.sidebar-template  .wrapper .col-md-9 article {
    padding-left: 10px;
}
.content-area.sidebar-template .entry-content ul li, #print-area  ul li{
    display: list-item;
}
.grey-banner {
    background-color: #cccc;
    position: relative;
    padding: 75px 0;
    text-align: center;
}
.contact-pg {
    padding: 95px 0 !important;
}
.page-template-news-pdf-template .contact-pg {
    padding: 35px 0 !important;
}
.content-area h4{
      font-family: 'latobold' !important;
    
}
.gallery-section {
    position: relative;
    width: 100%;
}
.gallery {
    position: relative;
}
.gallery:before {
    content: "";
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.gallery .title-wrapper {
    position: absolute;
    top: 115px;
    left: 0;
    z-index: 9;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.gallery .ngg-slideshow .ngg-gallery-slideshow-image img {
    margin: 0 auto;
    display: inline-block !important;
    vertical-align: top;
    max-width: 100%!important;
    max-height: 100%!important;
    width:100%;
    object-fit: cover;
    -webkit-object-fit: cover;
}
.gallery .title-wrapper h1.main-heading {
    color: #fff;
    font-size: 50px; 
    font-family: 'Roboto-Medium';
    margin-bottom:20px;
}
.gallery h3.h2_org p {
    color: #fff;
    font-size: 28px;
    font-family:'latoregular';
    margin:0px;
}
.ngg-slideshow .slick-next:after{
    height: 25px;
    width: 25px;
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    top: 10px;
    right: -7px;
    font-size: 32px;
    content: "\f101";
}
button.slick-prev.slick-arrow:after {
    height: 25px;
    width: 25px;
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    top: 10px;
    right: -7px;
    font-size: 32px;
    content: "\f100";
}
/* Mold Blocks css start*/
.mo-bl-det ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000000;
    padding-right: 15px;
}
.mo-bl-det ul li {
    list-style: none;
}
.mo-bl-det h4 {
    text-align: center;
    margin-top: 20px;
}
.mo-bl-images {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #00449e;
}
.mo-bl-list:last-child .mo-bl-images {
    border: 0px;
}
.mo-bl-images img {
    max-width: 100%;
}
/* Mold Blocks css end */
/*Inner Pages end Here*/
/*Responsive CSS*/
@media only screen and (min-width: 1299px){
    .newheader .logo img {
        height: 50px;
    }
}
@media only screen and (max-width: 1300px){
    .newheader #transc-navbar-nav .menu-item-has-children:hover ul.dropdown-menu {top: 50px;}
    .newheader ul.nav.navbar-nav li a {font-size: 10px;} 
}
@media screen and (max-width:1170px) and (min-width:992px) {
    .newheader .navbar-nav>li { margin-right: 29px;}
    
    section.hero-image .header-content h1 {font-size: 50px;}
    .expert-box h2, section.leader h2, .leader-box h2, .product h2, .white-bg h2 { font-size: 1.5em;}
    body.page-template-newpapge-homepage, .page-template-newpapge-homepage p {font-size: 16px;}

}
@media only screen and (max-width: 1023px){
    .page-template-newpapge-homepage div#wprmenu_bar {display: none;}
    html {padding-top: 0!important;} 
}
@media screen and (max-width:1199px) and (min-width:991px) {
    .newheader ul.nav.navbar-nav li.contact_details a {
        padding: 7px 16px !important;
    }
}

@media screen and (max-width:1060px) and (min-width:991px) {
     .page-template-all-form-template .navbar-header{max-width: 150px !important;}
}
@media only screen and (max-width: 991px){
    .newheader .navbar-header {float: none;}
    .newheader .navbar-toggle {display: block; }
    .newheader .navbar-collapse.collapse {
        display: none!important;
    }
    .newheader .navbar-collapse.collapse.in {  display: block!important;}
    .newheader .collapsing {overflow: hidden!important; }
    .newheader .dropdown-menu{ max-width:100% !important;}
    .newheader .navbar-nav .open .dropdown-menu { position: static; float: none; width: auto;margin-top: 0; background-color: transparent; border: 0; -webkit-box-shadow: none; box-shadow: none;}
    .newheader .navbar {min-height: 48px;}
    .newheader .navbar-inverse .navbar-toggle { border-color: #fff;margin-top:15px;}
    .page-template-home-video .newheader .navbar-inverse .navbar-toggle { border-color: #fff; margin-top:15px; }
    .page-template-newpapge-homepage #mg-wprm-wrap ul li { width: 100%; }
    .max-container-width { width:auto; }
    .newheader .navbar-toggle { display: block;}
    .newheader .navbar-header { display: block;float: right!important;position: absolute; top: 0px; right: 0; }
     .page-template-1column-sidebar .newheader .navbar-header,
      .page-template-default .newheader .navbar-header,
      .page-template-template-fullwidth  .newheader .navbar-header,
     .search-results .newheader .navbar-header,
     .error404 .newheader .navbar-header,
    .page-template-all-form-template .newheader .navbar-header,
     .page-template-careers-innerpage-template .newheader .navbar-header,
     .page-template-news-list-press-template .newheader .navbar-header,
     .page-template-news-template .newheader .navbar-header,
     .page-template-news-pdf-template .newheader .navbar-header,
     .page-template-careers-template .newheader .navbar-header,
     .page-template-news-pdf-template .newheader .navbar-header,
    .page-template-video .newheader .navbar-header {
        position: relative;
        max-width: 100%;
    }
    .page-template-all-form-template .newheader ul.nav.navbar-nav li.contact_details a{
        color: #fff;
        transition: all 1s ease;
        padding: 8px 17px !important;
        font-size: 12px !important;
    }
    .page-template-all-form-template .newheader .navbar-header .logo{
        margin-top: 0px;
        display: flex;
        display: -ms-flexbox;
        margin-top: 12px;
        align-items: center;
    }

    .page-template-home-video .newheader .navbar-header {
        position: relative;
    }
    .newheader .navbar-nav>li {
        float: left;
        margin-right: 30px;
        width: 100%;
    }
    .newheader .navbar-inverse .navbar-nav>.active>a {
        border-top: none !important;
    }
    .newheader .navbar-nav {
        margin: 50px 15px;
    }
    .newheader .navbar-nav .open .dropdown-menu li, .newheader .navbar-nav .dropdown-menu li {
        width: 100%;
        padding-left: 15px;
    }
    .newheader .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .page-template-home-video .newheader .navbar-inverse .navbar-toggle .icon-bar{
       border-color:#fff; background-color: #fff;
    }
     .newheader .navbar-inverse .navbar-toggle .icon-bar{
       border-color:#333;
       background-color: #333;
    }
    .newheader .navbar-inverse .navbar-toggle{
       border-color:#333;
    }
    .top-bar {
        padding-bottom: 0px;
    }
    .newheader .navbar-inverse .navbar-toggle:focus,.newheader .navbar-inverse .navbar-toggle:hover {
        background: none;
    }
    .home-testimonial .col-lg-8.col-md-8 {
        width: 100%;
    }
    .home-testimonial .testimonial-content {
        padding: 20px 0px 0 20px;
    }
    .home-testimonial .testimonial-content:before {
        height: 15px;
        width: 20px;
    }
    .home-testimonial .info h4 {
        font-size: 20px;
    }
    section.leader .fig img, .recycle .fig img {
        margin: 0 auto;
    }
    .recycle .fig img {
        width: 100%;
    }
    .recycle .fig {
        margin-left: 0 !important;
    }
    .home-testimonial .col-lg-4.col-md-4 {
        display: none;
    }
    section.hero-image .header-content h1 {
        font-size: 50px;
    }
    .expert-box h2, section.leader h2, .leader-box h2, .product h2, .white-bg h2 {
        font-size: 1.5em;
    }
    body.page-template-newpapge-homepage, .page-template-newpapge-homepage p {
        font-size: 16px;
    }
    section.counter .row .counter-box {
        width: 100%;
        margin-bottom: 0;
    }
    section.counter .row {
        flex-wrap: wrap;
        gap: 5px;
    }
    section.counter .row .col-sm-4 {
        padding:0 15px;
    }
}

@media only screen and (max-width: 767px){
    .newheader .navbar-nav {
        margin: 7.5px 15px;
    }
    .counter-box.aos-init.aos-animate {
        margin-bottom: 15px;
    }
    section.leader .fig, .recycle .fig{
        margin-bottom:25px;
    }
    section.turnkey:after {
        top: 400px;
    }
    .turnkey {
        padding: 30px 0;
    }
    .home-testimonial .col-lg-8.col-md-8 {
        width: 100%;
    }
    .home-testimonial .testimonial-content {
        padding: 20px 0px 0 20px;
    }
    .home-testimonial .testimonial-content:before {
        height: 15px;
        width: 20px;
    }
    .home-testimonial .info h4 {
        font-size: 20px;
    }
    section.hero-image .header-content .common-btn, .common-btn {
        font-size: 11px;
        padding: 9px 15px;
    }
    section.contact-application .col-md-12.application-about-app {
        padding: 30px 0;
    }
    section.product h2 {
        margin: 0;
    }
    section.product .product-wrapper {
        padding: 35px 0 0 0;
    }
    section.product {
        padding: 0 0 30px 0;
    }
    section.product.market {
        padding: 30px 0 30px 0;
    }
    section.product .product-wrapper .col-sm-4.col-md-4 {
        margin-bottom: 15px;
    }
    section.leader .lead-content {
        padding-right: 16px;
    }
    section.product.market .row.get-quote-btn {
        padding-top: 20px;
    }
    .expert-box h2, section.leader h2, .leader-box h2, .product h2, .white-bg h2 {
        font-size: 24px;
    }
    .newheader .pull-right {
        float: right !important;
        width:100%;
    }
    .newheader ul.header-info {
        padding-top: 5px;
        text-align:right;
    }
    .newheader div#myNavbar {
        margin-top: 55px;
    }
    .newheader ul.dropdown-menu {
        max-width: 100%;
    }
    .home-testimonial .testimonail-box {
        padding: 45px 15px 30px 15px;
    }
    .newheader ul.header-info li a {
        font-size: 12px;
    }


    
}
@media only screen and (max-width: 480px){
    .logo-fig.pull-left img{
        margin:0 auto;
    }
    .logo-fig.pull-left {
        width: 100%;
    }
    .page-template-home-video .newheader .navbar-inverse .navbar-toggle {
        margin-top:20px;
    }
    .home-testimonial .testimonial-info {
        display: block;
    }
    .home-testimonial .info {
        padding-left: 0;
        padding-top: 0;
    }
    section.hero-image .header-content {
        
    }
     .newheader .pull-right {
        float: left !important;
    }
    .newheader ul.header-info li:after{
        display:none;
    }


    
}
@media screen and (max-width:767px) and (min-width:480px) { 
    section.product .product-wrapper .col-sm-4.col-md-4.col-xs-12 {
        width: 50%;
    }
    .newheader .logo img {
        height: 40px;
        margin: 0px!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .newheader .collapse {
       display: none ;
   }
}

/*For Video home page*/
.newheader .logo{ float: left;padding: 0;}
.newheader .logo img  {
    width: 100%;max-width: 100%; border-radius: 4px; margin: 5px 0;}
 .newheader .navbar-header{width: 100%; max-width: 257px;}
.newheader ul.nav.navbar-nav li a:hover, 
.newheader ul.nav.navbar-nav li a:focus{background-color: inherit;color: #f16531;}
.page-template-home-video .newheader ul.nav.navbar-nav li ul li a:hover,
.page-template-home-video .newheader ul.nav.navbar-nav li ul li a:focus{background-color: inherit;color:#333!important;}
.newheader ul.nav.navbar-nav li ul li a:hover, .newheader ul.nav.navbar-nav li ul li a:focus{background-color: inherit;color:#fff!important;}
.page-template-home-video .newheader .navbar-nav>li.contact_details{border-radius: 7px;color: #000;background-color: #fff;-webkit-transition:0.3s all ;transition:0.3s all ;}
.page-template-home-video .newheader ul.nav.navbar-nav li.contact_details a:hover{border-radius: 7px;color: #fff;background-color: #f16531;}
.newheader .navbar-nav>li.contact_details{ background-color: #f16531; color: #fff; -webkit-transition:0.3s all;transition:0.3s all; border-radius:7px;-webkit-border-radius:7px;font-weight:700;}
.newheader ul.nav.navbar-nav li.contact_details a:hover{ background-color:#f16531;color:#fff;-webkit-border-radius:7px; border-radius:7px;}
.newheader .navbar-nav>li.contact_details{margin-top:0px;}

.page-template-home-video .newheader ul.nav.navbar-nav li.contact_details a{
    color:#333;
    padding: 15px 12px;
    transition: all 1s ease;
    font-size:13px;
}
 .newheader ul.nav.navbar-nav li.contact_details a {
    color:#fff;
    padding: 15px 12px;
    transition: all 1s ease; font-size:13px;
}
#myNavbar {
    padding-right: 0px;
}
.page-template-home-video section.hero-image,
.page-template-1column-sidebar section.hero-image,
.error404 section.hero-image,
.search-results  section.hero-image,
.page-template-all-form-template section.hero-image,
.page-template-careers-innerpage-template section.hero-image,
.page-template-careers-template section.hero-image,
.page-template-news-list-press-template section.hero-image,
.page-template-news-template section.hero-image{
    margin-top: -80px;
    z-index: -1;
}
.page-template-home-video .newheader .navbar-inverse {
    background: rgba(0,0,0,0.3);
    padding:0px;
}
.newheader .navbar-inverse{
    background:#fff;
    padding:15px 0;
}
.page-template-home-video section.hero-image .header-content,
.page-template-1column-sidebar section.hero-image .header-content, 
.error404 section.hero-image .header-content, 
.search-results  section.hero-image .header-content, 
.page-template-all-form-template section.hero-image .header-content, 
.page-template-careers-innerpage-template  section.hero-image .header-content, 
.page-template-news-template section.hero-image .header-content, 
.page-template-news-pdf-template section.hero-image .header-content, 
.page-template-careers-template section.hero-image .header-content, 
.page-template-news-list-press-template section.hero-image .header-content {
    margin-top: 0;
    position:relative;
}
.page-template-home-video .newheader .navbar-nav>li.active:before,
.page-template-1column-sidebar .newheader .navbar-nav>li.active:before,
.search-results  .newheader .navbar-nav>li.active:before,
.error404 .newheader .navbar-nav>li.active:before,
.page-template-all-form-template .newheader .navbar-nav>li.active:before,
.page-template-careers-innerpage-template .newheader .navbar-nav>li.active:before,
.page-template-news-list-press-template .newheader .navbar-nav>li.active:before,
.page-template-news-template .newheader .navbar-nav>li.active:before,
.page-template-news-pdf-template .newheader .navbar-nav>li.active:before,
.page-template-careers-template .newheader .navbar-nav>li.active:before,
.page-template-default .newheader .navbar-nav>li.active:before,
.page-template-template-fullwidth .newheader .navbar-nav>li.active:before,
.page-template-video .newheader .navbar-nav>li.active:before{
    display:none;
}
.page-template-home-video .video-content,
.page-template-1column-sidebar .video-content,
.error404 .video-content,
.search-results .video-content,  
.page-template-all-form-template .video-content,
.page-template-careers-innerpage-template .video-content,
.page-template-careers-template .video-content,
.page-template-news-template .video-content,
.page-template-news-pdf-template .video-content,
.page-template-news-list-press-template .video-content  {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 9;
}

.page-template-1column-sidebar .video-content a.btn.btn-default.common-btn,
.error404 .video-content a.btn.btn-default.common-btn,
.search-results .video-content a.btn.btn-default.common-btn,
.page-template-all-form-template .video-content a.btn.btn-default.common-btn,
.page-template-careers-innerpage-template .video-content a.btn.btn-default.common-btn,
.page-template-careers-template .video-content a.btn.btn-default.common-btn,
.page-template-news-template .video-content a.btn.btn-default.common-btn,
.page-template-news-pdf-template .video-content a.btn.btn-default.common-btn,
.page-template-news-list-press-template .video-content a.btn.btn-default.common-btn {
    margin-right: 30px;
     font-family: 'latoregular';
}
.page-template-home-video .video-content a.btn.btn-default.common-btn{
     margin-right:30px;
}
   
.newheader#transc-navbar-nav li a {
    padding: 25px 8px;
}
.newheader #transc-navbar-nav li ul li a {
    padding:7px 16px;
}
.page-template-home-video .newheader #transc-navbar-nav li.contact_details a,
.page-template-1column-sidebar .newheader #transc-navbar-nav li.contact_details a,
.error404 .newheader #transc-navbar-nav li.contact_details a,
.search-results .newheader #transc-navbar-nav li.contact_details a,
.page-template-all-form-template .newheader #transc-navbar-nav li.contact_details a,
.page-template-careers-innerpage-template .newheader #transc-navbar-nav li.contact_details a,
.page-template-news-list-press-template .newheader #transc-navbar-nav li.contact_details a,
.page-template-news-template .newheader #transc-navbar-nav li.contact_details a,
.page-template-news-pdf-template .newheader #transc-navbar-nav li.contact_details a,
.page-template-careers-template .newheader #transc-navbar-nav li.contact_details a,
.page-template-default .newheader #transc-navbar-nav li.contact_details a,
.page-template-template-fullwidth .newheader #transc-navbar-nav li.contact_details a,
.page-template-video .newheader #transc-navbar-nav li.contact_details a {
    padding:15px;
}
.page-template-home-video section.hero-image .header-content h1 {
    font-size: /*70*/55px;
    padding-bottom: 70px;
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    line-height: 61px;
    
}

.page-template-home-video .video-content a.btn.btn-default.common-btn:nth-last-child(1) {
    margin-right: 0;
}
.newheader .collapse.navbar-collapse {
    text-align:center;
}
.page-template-home-video .navbar-inverse.affix  {
    background: #000;
}
.page-template-1column-sidebar .newheader .navbar-inverse.affix,
.search-results  .newheader .navbar-inverse.affix,
.error404 .newheader .navbar-inverse.affix,
.page-template-all-form-template .newheader .navbar-inverse.affix,
.page-template-careers-innerpage-template .newheader .navbar-inverse.affix,
.page-template-news-list-press-template .newheader .navbar-inverse.affix,
.page-template-news-template .newheader .navbar-inverse.affix,
.page-template-news-pdf-template .newheader .navbar-inverse.affix,
.page-template-careers-template .newheader .navbar-inverse.affix,
.page-template-default .newheader .navbar-inverse.affix,
.page-template-template-fullwidth .newheader .navbar-inverse.affix,
.page-template-video .newheader .navbar-inverse.affix {
    background: #fff;
    box-shadow: 5px 0px 10px 2px #adabab;
}

@media (min-width: 768px){
   .newheader .navbar-nav{
        float: none;
        display: inline-block;
    }
     .page-template-1column-sidebar .newheader #transc-navbar-nav .menu-item-has-children li:hover :after,
     .search-results  .newheader #transc-navbar-nav .menu-item-has-children li:hover :after,
     .error404 .newheader #transc-navbar-nav .menu-item-has-children li:hover :after,
     .page-template-1column-sidebar .newheader #transc-navbar-nav .menu-item-has-children li:hover :after,
     .page-template-careers-innerpage-template .newheader #transc-navbar-nav .menu-item-has-children li:hover :after,
     .page-template-news-list-press-template .newheader #transc-navbar-nav .menu-item-has-children li:hover :after, 
     .page-template-news-pdf-template .newheader #transc-navbar-nav .menu-item-has-children li:hover :after, 
     .page-template-careers-template .newheader #transc-navbar-nav .menu-item-has-children li:hover :after, 
     .page-template-news-template .newheader #transc-navbar-nav .menu-item-has-children li:hover :after{
        top: 0px;
    }
}


.page-template-home-video .video-background{
  height: 100vh;
  position: relative;
  margin: 0 !important;
  top: 0;
  width: 100%;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.page-template-home-video video{
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    width: 100%;
/* height: 100%;*/
}
.page-template-home-video #mute{
  cursor: pointer;
  height: 50px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-size: cover;
  font-size:18px;
  color:#fff;
  display:none;
}
 .page-template-1column-sidebar .ngg-slideshow.slick-slider,
  .search-results  .ngg-slideshow.slick-slider,
  .error404 .ngg-slideshow.slick-slider,
 .page-template-all-form-template .ngg-slideshow.slick-slider,
  .page-template-careers-innerpage-template .ngg-slideshow.slick-slider,
 .page-template-news-list-press-template .ngg-slideshow.slick-slider,
 .page-template-news-pdf-template .ngg-slideshow.slick-slider,
  .page-template-careers-template .ngg-slideshow.slick-slider,
 .page-template-news-template .ngg-slideshow.slick-slider{
    margin:0px !important;
}
 .page-template-1column-sidebar .ngg-slideshow .ngg-gallery-slideshow-image img,
  .error404 .ngg-slideshow .ngg-gallery-slideshow-image img,
   .search-results  .ngg-slideshow .ngg-gallery-slideshow-image img,
 .page-template-all-form-template .ngg-slideshow .ngg-gallery-slideshow-image img,
 .page-template-careers-innerpage-template .ngg-slideshow .ngg-gallery-slideshow-image img,
 .page-template-news-list-press-template .ngg-slideshow .ngg-gallery-slideshow-image img ,
 .page-template-news-pdf-template .ngg-slideshow .ngg-gallery-slideshow-image img ,
 .page-template-careers-template .ngg-slideshow .ngg-gallery-slideshow-image img ,
  .page-template-news-template .ngg-slideshow .ngg-gallery-slideshow-image img{
    max-width: 100%!important;
    max-height: 100% !important;
    width: 100%;
}
.gallery .title-wrapper + p {
    display: none;
}
.page-template-home-video #mute img {
    width: 55px;
    height: 55px;
}
.footer-wrapper #nav_menu-11 h3 {
    display: block;
    padding-top: 25px;
	text-transform:uppercase;
}
.page-template-default .grey-banner .main-heading {
    font-size: 50px;
}
.grey-banner h1.main-heading {
    font-size: 50px;
    line-height: 60px;
}
.page-template-home-video li#menu-item-12044 a {
    color: #ff9e3b;
}


.navbar.affix-top{
   width: 100%;
   -webkit-transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
   transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
}
.navbar.affix {
   top: 0px;
   right: 0px;
   left: 0px;
   margin: 0px auto;
   width: 100%;
   z-index: 999;
   padding: 0px 0px;
   -webkit-transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
   transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
   -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
   -webkit-animation: stickyAnimation 1s ease;
   animation: stickyAnimation 1s ease;
}
@-webkit-keyframes stickyAnimation {
 from {
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%); }
 to {
   -webkit-transform: translateY(0);
   transform: translateY(0); }
}

@keyframes stickyAnimation {
 from {
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%); }
 to {
   -webkit-transform: translateY(0);
   transform: translateY(0); }
}

.mobile-view{
    display:none;
}
.flex {
    display: flex;
}
.flex .test-training {
    margin-right: 25px;
    display: flex;
}
.flex .test-training a {
    margin-top: 40px;
}

.newheader .nav li.current_page_item>a{
    color: #ff9e3b!important;
}
.newheader .nav .dropdown-menu li.current_page_item>a{
    color: #fff!important;
    text-decoration: underline;
}
.page-template-newpapge-homepage .newheader .nav li.current_page_item>a,.page-template-newpapge-homepage .newheader .nav li.current_page_parent>a,.page-template-newpapge-homepage .newheader .nav li.current-menu-ancestor>a,.page-template-newpapge-homepage .newheader .nav li.current-cat>a,.page-template-newpapge-homepage .newheader .nav li.current-menu-item>a {
    color: #f83e19!important;
}
.contact-form-box input[type="text"] ,.contact-form-box input[type="email"] , .contact-form-box textarea{
    width:100%;
}
.wp-block-columns.has-2-columns.pd-bt-0>.wp-block-column {
    margin-bottom: 0;
}

/*22-02-2020*/
.content-area.form-width {
    background-color: #eee;
    background-size:cover;
}
.page-template-all-form-template .content-area.form-width .wrapper {
    width: 100%;
    max-width: 700px !important;
    margin: 0 auto;
    background-color:inherit;
}
.page-template-all-form-template .content-area.form-width .wrapper article{
    background-color:#fff;
    padding:25px;
}
.content-area.form-width .col-md-12 h1{
    padding-bottom: 35px;
    margin-top: 0;
    color:#fff;
    text-align: center;
}
span.classtrainbutton.padd-left-right-20.clickhere-shop a {
    width: auto;
}

.wp-block-group.smicon-grinds {
    padding-bottom: 30px;
}
.wp-block-group.smicon-grinds.pd-btm-0 {
    padding-bottom: 0;
}
.margin-btm-0{
    margin-bottom: 0px !important;
}
.content-area .smicon-grinds p {
    text-align: center!important;
    font-style: italic;
    font-size: 18px !important;
} 
section.no-results.not-found {
    text-align: center;
    padding-bottom: 50px;
}
section.no-results.not-found span.screen-reader-text {
    display: none;
}
section.no-results.not-found input.search-field {
    border: inherit;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
}
section.no-results.not-found form label {
    line-height: 35px;
}
section.no-results.not-found input.search-submit {
    background-color: #f16531;
    border: inherit;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
}

/*Search icon functionality start*/

@media only screen and (min-width: 1499px){
    .newheader .navbar-nav>li, .newheader .navbar-nav>li:nth-last-child(1) {margin-right: 20px;}
}
@media only screen and (min-width: 1687px){
    .newheader .navbar-nav>li, .newheader .navbar-nav>li:nth-last-child(1) {margin-right: 30px;}
}
@media only screen and (min-width: 1799px){
    .newheader .navbar-nav>li, .newheader .navbar-nav>li:nth-last-child(1) {margin-right: 34px;}
}
@media only screen and (min-width: 2023px){
    .newheader .navbar-nav>li, .newheader .navbar-nav>li:nth-last-child(1) {margin-right: 38px;}
}
@media only screen and (min-width: 991px){
       .navbar div#myNavbar {
        flex-wrap: wrap;
        width: calc(100% - 180px);
        display: flex !important;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-left: 0;
    }
}

.contact-btn-header {
    width: 280px;
}
.container-fluid.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.search_btn{
    list-style:none;
}
.search_btn.mobile a.search-button svg{display:none;}
.search_btn svg {height: 22px;
    width: 22px;
    fill: #333;
}
.page-template-home-video .search_btn svg {
    height: 22px;
    width: 22px;
    fill: #fff;
}
 .search_btn.dekstop-view svg:hover{
    fill:#ff9e3b;
}

.search-wrapper {
    clear: both;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.search-wrapper .search-thumbanil img {
    width: 100%;
    height: auto;
}
    .search.search-results h2.screen-reader-text {
     
    }
    .search.search-results  .nav-links {
        display: flex;
        flex-wrap: wrap;
    }
    .search.search-results .page-numbers{
        display: flex;
        align-items: center;
    }
    .search.search-results .page-header{
        margin: 0px;
    }
.search.search-results .nav-links span.nav-prev-text,.search.search-results .nav-links span.nav-next-text {
    display: none;
}
.search.search-results .nav-links .prev.page-numbers .svg-icon, .search.search-results .nav-links .next.page-numbers {
    fill: #fff;
}
i.fa.fa-angle-down.fa-2x.animated { top: 15px !important;
}
ul.fs-search_info {
   margin-left: 30px;
}
li.fs-toggle-icon.js-toggle-menu {
   position: absolute;
   right: 125px;
   padding: 8px 8px;
   top: 0px;
   display: none;
}
.fs-search_info li {
   padding: 14px 10px;
   display: inline-block;
   z-index: 9;
   position: relative;
}
.fs-tran5s{
   -webkit-transition: all .5s ease-out;
   -moz-transition: all .5s ease-out;
   -ms-transition: all .5s ease-out;
   -o-transition: all .5s ease-out;
   transition: all .5s ease-out;
}
#searchWrapper {
   position: fixed;
   top:0;
   right: 0;
   bottom: 0;
   left:0;
   height: 0;
   background: #163bb1;
   z-index: 99999;
   opacity: 0;
   visibility: hidden;
}
#searchWrapper.show-box {opacity: 1; visibility: visible; height: 780px;}
#searchWrapper .container {height: 100%; display: block; width:100%;}
#searchWrapper .fs-heading {
   margin: 0 auto;
   position: relative;
   top: 25%;
   display: block;
}
#searchWrapper form {
   position: relative;
/*   top:62%;*/
   height: 60px;
   -webkit-transform:translateY(-50%);
   transform:translateY(-50%);
   width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 325px;
}
#searchWrapper form input {
   height: 100%;
    width: 100%;
    border-radius: inherit;
    padding: 0px 0px 0px 7px;
    background: inherit;
    font-size: 30px;
    letter-spacing: 1.2px;
    font-weight: 400;
    border: inherit;
    border-bottom: 1px solid #fff;
    color: #fff;
}

#searchWrapper form input::placeholder{color: #fff; font-size: 30px; }
#searchWrapper form input:focus {
   -webkit-box-shadow: inherit;
   box-shadow: inherit;
}
#searchWrapper form button {
   position: absolute;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 55px;
    font-size: 40px;
    color: #163bb0;
    border-radius: inherit;
    cursor: pointer;
    border: none;
    background: #fff;
}
#searchWrapper #close-button {
   position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-weight: 500;
    font-size: 26px;
    background: transparent;
    cursor: pointer;
    border: inherit;
}
#searchWrapper #close-button .fa{
    color: #fff;
}
.search.search-results header.page-header.grey-banner {
    margin-top: 0;
}
.cursor {
    position: relative;
}
.cursor span {
    position: absolute;
    width: 2px;
    height: 40px;
    background-color: #fff;
    left: 5px;
    top: 20%;
    animation-name: blink;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.cursor input:focus + span {
    display: none;
}
#searchWrapper .logo {
    padding-top: 25px;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}
ul.fs-search_info {
    margin-left: 0px;
    float: right;
    top: 10px;
    color: #ff9e3b !important;
        position: relative;
    left: 0px;
}
.home ul.fs-search_info li a {
    color: #fff;
}
#searchWrapper form button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form#searchform input {
    font-family: 'latoregular' !important;
}
ul.fs-search_info li a:hover {
    color: #f79a3d;
}
#searchWrapper form input:focus{ outline: none;   }
ul.fs-search_info li a {
    color: #00447d;
}
#searchWrapper form{ margin-top: 360px;   }
.gallery .title-wrapper {
position: absolute;
top: 115px;
left: 0;
z-index: 1;
right: 0;
text-align: center;
margin: 0 auto;
}
@media only screen and (max-width: 1300px){
    .contact-btn-header { width: 205px;margin-right: 0;}
    .newheader .navbar-nav>li { margin-right: 10px;}
}
@media screen and (max-width:1170px) and (min-width:991px) { 
    
    header .navbar div#myNavbar {
    flex-wrap: wrap;
    width: calc(100% - 150px);
    justify-content: center;
    display: flex!important;
    align-items: center;
}
    .navbar-header {
    width: 100%;
    max-width: 150px;
}
    
}
@media screen and (max-width:1170px) and (min-width:1060px) { 
header .navbar div#myNavbar {
    width: calc(100% - 150px) !important;
}
    .navbar-header{
        max-width:150px !important;
    }
    
    
}
@media only screen and (max-width: 991px){
    .container-fluid.header-wrapper {display: block;}
    #searchWrapper .logo img {width: 150px;}
    li.search_btn.dekstop-view {
    display: none;
}
.search_btn.mobile  a.search-button svg {
    width: 25px;
    height: 25px;
        display:block;
}
    .search.search-results .page-header.grey-banner {
    padding:35px 0;
}
    header .navbar div#myNavbar{
        display:block;
    }
    header .navbar .navbar-nav {
    float: left!important;
    width: 100%;
}
    
}
@media only screen and (max-width: 767px){
    #searchWrapper form {
    margin-top: 200px;
}
    .search-results .h1, .search-results h1 {
    font-size: 20px !important;
    letter-spacing: 0.7px;
}
#searchWrapper form input::placeholder {
    font-size: 20px;
}
#searchWrapper form button {
   width: 50px;
   height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchWrapper form button .fa-search {
   font-size: 24px;
}
}
@media screen and (max-width: 480px){
    li.search_btn.mobile {
    list-style: none;
    position: absolute;
    top: 29px;
    right: 72px;
}
}
@media screen and (max-width: 360px){
    #searchWrapper form input { font-size: 20px;}
}
@media screen and (max-width: 1170px) and (min-width: 992px){
        .newheader .navbar-nav>li {margin-right: 0;}
}

/*@media screen and (max-width: 3014.57px) and (min-width: 1686.25px){
        ul.fs-search_info {top: 11px;left: -28px;}
}*/


/*Search icon functionality End*/
.wp-block-group.youtube-video figure.wp-block-embed.is-type-video iframe, .wp-block-group.youtube-video-iframe iframe {
    height: 315px;
    width: 556px;
    margin: 0 auto;
}
.wp-embed-responsive .wp-block-group.youtube-video  .wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
    padding-top: 38.25%;
}
.wp-block-columns.grey-backgroud-color figcaption {
    margin-top: 0;
}
.wp-block-columns.grey-backgroud-color {
	margin-bottom: 5px;
}
.wp-block-group.youtube-video-iframe {
    text-align: center;
}
.top-inner-heading {
    margin-top: 0px!important;
}
.wp-block-group.max-width-img .wp-block-image {
    max-width: 600px!important;
}
.wp-block-group.four-group-img figcaption {
    font-size: 14px !important;
}
.grey-backgroud-color.display-none{
display:none;
}
