/* .trainedarea {
    margin-left: 0!important;
    width: 100%;
} */
/* .video-container {
    padding-bottom: 0!important;
    height: auto!important;
} */
#wprmenu_bar .bar_logo {
    height: 40px!important;
}
html body div#wprmenu_bar {
    height: 65px!important;
}
#wprmenu_bar div.hamburger {
    margin-top: 8px!important;
}
#wprmenu_bar .menu_title {
    font-size: 14px;
    line-height: 60px;
}
#wprmenu_bar .menu_title a {
    float: left;
        top: -3px;
}
.menu_title {
    text-align: right !important;
}
.menu_title {
    padding-right: 40px !important;
}

.content-area p {
    text-align: inherit!important;
}
.classtrainbutton a {
    float: none;
    margin-top: 20px !important;
    width: 100%;
}

section#primary.content-area ol.tailored {
    padding-left: 0!important;
}

.test-training .inside-grid-column {
    max-width: 95%!important;
}

.slick-prev {
    background-image: url(../images/left-arrow.png)!important;
    background-repeat: no-repeat!important;
    background-position: center center !important;
}

.slick-next {
    background-image: url(../images/right-arrow.png)!important;
    background-repeat: no-repeat!important;
    background-position: center center !important;
}

.slick-next::before,
.slick-prev::before  {
    display: none;
}


.header.inner_menu .contact_details a {
    background: #f16531 !important;
}
.thumbnail-img img,.parent-page {
    width: 100%;
}
.thumbnail-img img {
    width: 100%;
    padding: 5px;
}
.thumbnail-images li h3 {
    margin: 0;
}
.thumbnail-images {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.parent-page {
    float: left;
}
.parent-page {
    margin-bottom: 20px;
}
.orange-color{
    font-size: 3em; 
    font-weight: bold; 
    color: #d66638; 
    text-shadow: 0 0 3px #7a7a7d;
}

section.mob_video_btn {
    display: none;
}
@media screen and (min-width: 1599px) {
    .inner-head {
        height: 450px!important;
    }
}
@media screen and (max-width:2963.42px) and (min-width:1498.89px) { 
.navbar-nav.vd-navbar-nav>li>a {
    padding: 15px 15px !important ;
    }
}
@media screen and (max-width:6360.52px) and (min-width:1798.67px) { 
.navbar-nav.vd-navbar-nav>li>a {
    padding: 15px 25px !important;
    }
}
@media screen and (max-width:3114.82px) and (min-width:2023.5px) { 
.navbar-nav.vd-navbar-nav>li>a {
    padding: 15px 25px !important;
    }
}
@media screen and (max-width:3014.57px) and (min-width:1686.25px) { 
.navbar-nav.vd-navbar-nav>li>a {
    padding: 15px 24px !important;
    }
}
@media screen and (max-width:1200px) and (min-width:991px) { 
   .newheader #transc-navbar-nav li a {
    padding: 15px 4px;
    font-size: 13px;
    }
}
@media screen and (max-width:1000px) and (min-width:991px) { 
    section.hero-image .header-content .common-btn{
        font-size:12px;
    }
}
@media screen and (max-width:1199px) and (min-width:991px) { 
   section.sidebar+.get-quote-btn .common-btn{
       padding: 9px 25px;
   
    }
}


@media only screen and (max-width: 1300px) {

 .page-template-new-sidebar .newheader #transc-navbar-nav li a {
    padding: 25px 4px;
}
.page-template-new-sidebar .newheader ul.nav.navbar-nav li.contact_details a, .page-template-template-fullwidth .newheader ul.nav.navbar-nav li.contact_details a {
    padding: 9px;
    font-size: 11px;
    font-weight: 400;
}
.gallery .ngg-slideshow .ngg-gallery-slideshow-image img {
    height: 100%;
}
.header ul.nav.navbar-nav li.contact_details a {
    font-size: 12px!important;
    padding: 10px 8px;
    
}
.header.inner_menu ul.nav.navbar-nav li.contact_details a
{
 margin-top: 15px;   
 float:left;
}
.navbar-nav.vd-navbar-nav>li>a {
    padding: 15px 5px !important;
    font-size: 12px;
}
.page-template-home-video .newheader ul.nav.navbar-nav li.contact_details a {
    padding: 10px 8px;
    font-size: 10px;
}
.page-template-home-video .newheader .logo img, .page-template-new-sidebar .newheader .logo img, .page-template-template-fullwidth .newheader .logo img {
    width: 100%;
    border-radius: 4px;
    margin: 5px 0;
}
.page-template-home-video .newheader #transc-navbar-nav li a, .page-template-new-sidebar .newheader#transc-navbar-nav li a {
    padding: 25px 5px;
}
.newheader .navbar-nav#transc-navbar-nav {
    display: inline-block;
}
.page-template-home-video .navbar-header, .page-template-new-sidebar .navbar-header, .page-template-template-fullwidth .navbar-header {
    max-width: 200px;
}
.newheader ul#transc-navbar-nav+ul.nav.navbar-nav.navbar-right li.contact_details a {
        padding: 8px 15px;
        font-size: 11px;
    }

.newheader #transc-navbar-nav li a {
    padding: 15px 5px;
    font-size: 14px;
}
}
@media only screen and (max-width: 1199px) {
     section.expert-solution .container.max-container-width {
        width: 100%;
    }
    
    .gallery .col-md-8 {
        max-width: 667px!important;
        width: 100%;
        padding-left: 15px!important;
    }
    .gallery .col-md-4 {
        max-width: 252px!important;
        width: 100%;
        padding-right: 15px!important;
    }
    .video_buttons {
        text-align: center;
    }
    .video_buttons .incres_he {
        display: inline-block;
        vertical-align: top;
        float: none !important;
        margin: 0 5px 10px !important;
        width: auto !important;
    }
    .video_buttons .incres_he a {
        padding: 15px 15px!important;
    }
    .three-btn .common-btn:nth-child(4), .three-btn .common-btn:nth-child(1) {
        padding: 19px 20px!important;
    }
    .hero-image {
        background-position:center;
        background-size: cover;
        background-image: url(https://vdrs.com/wp-content/uploads/2024/03/VanDyk_KVIBE-218-1200.jpg);
    }


}
@media only screen and (max-width: 1100px) {

    .newheader #transc-navbar-nav li a, .newheader #transc-navbar-nav>li>.dropdown-menu li a {
        font-size: 12px;
    }
    .newheader #transc-navbar-nav>li>.dropdown-menu li a{
        line-height: normal;
    }
    .page-template-home-video section.hero-image .header-content .common-btn{
        font-size: 11px;
    }
    .three-btn .common-btn:nth-child(4), .three-btn .common-btn:nth-child(1) {
        padding: 19px 15px!important;
    }
   
}
@media only screen and (max-width: 1024px) {
    
    section.hero-image .header-content {
        min-height:300px;
    }
     .page-template-home-video section.hero-image .video-content h2 {
        visibility: visible!important;
    }
    .expert-solution, .page-template-home-video #mute{
        display:none;
    }
    /*.hero-image {
        background-size: cover;
        background-image: url(/wp-content/uploads/2019/12/slider-img.jpg);
    }*/
    
}
@media only screen and (max-width: 1023px) {
    
    .page-template-home-video section.hero-image .video-content h2 {
        visibility: visible!important;
    }
    .expert-solution, .page-template-home-video #mute{
        display:none;
    }
   /* .hero-image {
        background-size: cover;
        background-image: url(/wp-content/uploads/2019/12/slider-img.jpg);
    }*/

#wprmenu_bar{
    background-color: #888888!important;
}
.home_video {
    margin-top: 70px !important;
}
.home_video video, .home_video iframe {
    position: absolute!important;
    top: 0!important;
}
.header {
    top: 65px;
}
.header .navbar-inverse {
    background-color: #e6e6e6!important;
}
header .navbar-fixed-top {
    top: 40px!important;
}
section#primary.content-area, #content.contact-pg {
    background-color: #ffffff!important;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0!important;
}
.nav.navbar-right, .navbar-header {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 !important;
}
.nav.navbar-right {
    margin: 0;
}
.navbar-brand {
    float: left;
    padding: 8px 15px 2px 15px;
    width: 100%;
    text-align: center;
}
.navbar-brand>img {
    margin: 0 auto;
}
.nav.navbar-right>li {
    width: 100%;
}
.header ul.nav.navbar-nav li.contact_details a {
    font-size: 14px!important;
    padding: 10px 0px 8px;
    background: transparent;
    color: #fff !important;
    margin-top: 5px;
}
.header .contact_details a {
    background: #f16531!important;
    width: 240px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header.sticky {
    display: none !important;
}
section#primary {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.header.inner_menu .navbar-inverse {
    padding: 0px 0 10px !important;
}



}
@media only screen and (max-width: 840px) {
    .page-template-home-video .video-content a.btn.btn-default.common-btn {
        margin-right: 0!important;
    }
}
@media only screen and (max-width: 975px) {

section.mob_video_btn {
    display: block;
    float: left;
    width: 100%;
    background-color: #eaf4fe;
    padding: 8px 5px 5px;
    margin-top:0px;
}
}

  

@media only screen and (max-width: 991px) {
    /*Career page image gallery*/
    #image-slider-V .slider-pro p.sp-layer.sp-black {
        font-size: 13px!important;
        padding: 12px!important;
        height:auto !important;
        display:block;
    }
	#image-slider-V .sp-thumbnail-container{
		
	}
    #image-slider-V .slider-pro .desc-in-bg {
        width: 100% !important;
    }
    .team-image{
        padding-right: 15px !important;
    }
    span.dividerPole {
        display: none;
    }
    .footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(3) .footer-wrapper {
        padding-left: 15px;
    }
    .footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(4) .footer-wrapper {
        padding-left: 30px;
    }
    span.copyright {
        display: block;
    }
    .copyright-area-column {
        text-align: center;
        margin: 0 auto;
    }
    .logo-fig.pull-left {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-image {
        background-position:center;
        background-size: cover;
        background-image: url(https://vdrs.com/wp-content/uploads/2024/03/VanDyk_KVIBE-218-1200.jpg);
    }
    .page-template-home-video #mute{
        display:none;
    }
    .page-template-home-video section.hero-image .header-content h1{
            font-size:32px !important;
    }
    section.expert-solution .container.max-container-width {
        width: 100%;
        padding: 5px 10px;
    }
    .content-area.mx-width .container {
        width: 100%;
    }
    .newheader .navbar-nav#transc-navbar-nav li.current_page_item a {
        background-color: inherit!important;
    }
    .footer-wrapper .header-info i.fa.fa-phone {
        transform: rotate(90deg);
        position: relative;
        top: 0px;
    }
    .copyright-area-column p.copyright-content.pull-right{
        font-size:12px !important;
    }
    .pull-right {
        float: none !important;
        text-align: center;
    }
    .footer-wrapper ul.header-info {
        margin: 0;
        text-align: center;
    }
    ul.nav.navbar-nav.navbar-right.mobile-view {
        float: none !important;
        display: block;
        text-align: center;
        width: 100%;
    }
    .newheader .logo{
    	    width: calc(100% - 65px);
    }
    .nav.navbar-nav.navbar-right.mobile-view li.contact_details{
    	float: none;
        display: inline-block !important;
        width: auto;
    }
    .newheader #transc-navbar-nav .menu-item-has-children:after {
        display:none;
     }
   /* .mobile-view{
        display:block;
    }*/
ul.nav.navbar-nav .menu-item-has-children a:after {
    font-family: FontAwesome;
    right: 40px;
    top: 7px;
    position: absolute;
    content: "\f107";
}
ul#transc-navbar-nav .menu-item-has-children {
    position: relative;
}
.container-width {
    width: 100%;
}
.page-template-new-sidebar .newheader .navbar-inverse, 
.page-template-template-fullwidth .newheader .navbar-inverse{
    padding:5px 0;
}
.page-template-new-sidebar .newheader ul.nav.navbar-nav li.contact_details a, .page-template-template-fullwidth .newheader ul.nav.navbar-nav li.contact_details a {
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
}
.page-template-new-sidebar .gallery {
    margin-top: 0px;
}
.page-template-new-sidebar .newheader #transc-navbar-nav li a {
    padding: 10px 10px;
}
.page-template-home-video .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-careers-innerpage-template .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-template-fullwidth .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-news-list-press-template  .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-default .newheader  .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-news-pdf-template  .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-careers-template .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-news-template  .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-1column-sidebar  .newheader .navbar-nav.mobile-view>li.contact_details,
.page-template-video .newheader .navbar-nav.mobile-view>li.contact_details{
    margin-top:0px;
}
.nav.navbar-nav.navbar-right.mobile-view li.contact_details{
    display:block;
    margin-top:0px;
}
.page-template-home-video .newheader .logo img,
.page-template-news-template .newheader .logo img,
.page-template-careers-template  .newheader .logo img,
.page-template-news-pdf-template  .newheader .logo img,
.page-template-default .newheader .newheader .logo img,
.page-template-news-list-press-template  .newheader .logo img,
.page-template-template-fullwidth  .newheader .logo img,
.page-template-careers-innerpage-template .newheader .logo img,
.page-template-1column-sideba .newheader .logo img,
.page-template-video .newheader .logo img{ 
    margin-right:15px;
}
.nav.navbar-nav.navbar-right .contact_details {
    display:none;
}
.newheader #transc-navbar-nav>li:hover :after {
    top: 40px;
    background-color: #ff9e3b;
}
.page-template-1column-sidebar .newheader .logo,
.page-template-news-template  .newheader .logo,
.page-template-careers-template .newheader .logo,
.page-template-news-pdf-template .newheader .logo,
.page-template-default .newheader .newheader .logo,
.page-template-news-list-press-template  .newheader .logo,
.page-template-template-fullwidth .newheader .logo,
.page-template-careers-innerpage-template .newheader .logo,
.page-template-home-video .newheader .logo, 
.search-results .newheader .logo,
.page-template-video .newheader .logo{
    margin-top:0px;
    display:flex;
    display: -ms-flexbox;
    margin-top:12px;
    align-items: center;
}
.page-template-home-video .newheader .logo img,
.page-template-news-template .newheader .logo img,
.page-template-careers-template .newheader .logo img,
.page-template-news-pdf-template .newheader .logo img,
.page-template-default .newheader .logo img,
.page-template-news-list-press-template .newheader .logo img,
.page-template-template-fullwidth .newheader .logo img,
.page-template-careers-innerpage-template .newheader .logo img,
.page-template-video .newheader .logo img,
.page-template-news-template .logo img{
    margin-right: 15px;
}
#transc-navbar-nav li a.nav-link {
    text-align: left;
}
.newheader #transc-navbar-nav .menu-item-has-children:hover ul.dropdown-menu {
    top: 40px;
}

.page-template-home-video .video-background{
  height: 70vh;
}

.page-template-home-video video {
    height: 100%!important;
}   
.page-template-home-video section.hero-image .header-content h1 {
    max-width: 90%;
    line-height: 30px;
    text-shadow: inherit;
}
.page-template-home-video section.hero-image .header-content .common-btn,.page-template-home-video .common-btn{
    font-size: 11px;
    padding: 9px 15px;
}
.page-template-1column-sidebar .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-video .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-news-template .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-careers-template .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-news-pdf-template .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-default .newheader  .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-news-list-press-template  .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-template-fullwidth  .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-careers-innerpage-template .newheader ul.nav.navbar-nav li.contact_details a,
.page-template-home-video .newheader ul.nav.navbar-nav li.contact_details a,
.search-results .newheader ul.nav.navbar-nav li.contact_details a
{
    padding: 8px 17px;
    font-size: 12px;
}
.newheader #transc-navbar-nav li a, 
.newheader#transc-navbar-nav li a {
    padding: 10px 5px !important;
}
.page-template-home-video .navbar-header,
.page-template-video .navbar-header,
.page-template-news-template .navbar-header,
.page-template-careers-template .navbar-header, 
.page-template-news-pdf-template  .navbar-header, 
.page-template-default .newheader  .navbar-header, 
.page-template-news-list-press-template  .navbar-header, 
.page-template-template-fullwidth  .navbar-header, 
.page-template-careers-innerpage-template .navbar-header, 
.page-template-1column-sidebar .navbar-header, 
.page-template-new-sidebar .navbar-header, 
.page-template-template-fullwidth .navbar-header {
    max-width: 100% !important;
    width:100%;
}  
.newheader .navbar-nav#transc-navbar-nav{
    float: left!important;
}
.contact-pg .container {
    width: 100%;
}
.home_video {
    margin-top: 0px !important;
}
.nav.navbar-right, .navbar-header {
    float: left !important;
    width: auto;
    text-align: center;
}
.page-template-contact-template .page_title {
    margin-top: 40px;
}
#content {
    padding-top: 115px!important;
}
.page-template-news-list-template .page_title {
    margin-bottom: 0;
    padding-bottom: 0;
}
.pagination {
    padding: 0 !important;
    margin: 0 !important;
}
.page-template-news-list-template .page_title h2 {
    margin: 0 0 25px 0;
}
.page-template-news-list-template .page_title h1 {
    margin: 30px 0 0 0;
}
#footer-widgets,.footer-address {
    float: left;
    width: 100%;
}
.entry table {
    width: 100% !important;
}
.test-training .inside-grid-column {
    max-width: 100%!important;
    margin-bottom: 20px !important;
}
section#primary.content-area .row {
    margin-left: 0;
    margin-right: 0;
}
.contact-pg input, .contact-pg textarea {
    width: 100%;
}
.homepage_service_section .home_services {
    width: 100% !important;
    margin-bottom: 10px;
}
.wrapper {
    display: block!important;
    padding: 25px 15px!important;
    float: left !important;
    width: 100% !important;
}
.homepage_service_section .home_services .services_img img,.bottom-text img {
    margin: 0 auto;
}
.bottom-text p {
    text-align: center !important;
}
.homepage_service_section {
    padding:40px 0 0 0!important;
}
.order_part {
    padding: 80px 15px !important;
}
.order_part_main {    
    padding: 20px 15px!important;
    margin-right: 25px!important;
    margin-bottom: 25px;
}
.order_part_main,
#footer-widgets.col-4 .block {
    width: 100%!important;
}
#footer-widgets .block {
    margin-right: 0!important;
}
#footer-widgets .widget {
    padding-left: 0!important;
}
.counter1_row .count, .counter1_row .counts {
    font-size: 2.5em!important;
}
.page-wrapper h1, .main-heading, .page_title, .gallery .main-heading {
    font-size: 40px!important;
    margin-top: 0;
    padding-left: 0 !important;
    line-height:32px !important;
}
.main-heading{
    margin:0px;
    padding:0px;
}
.content-area.sidebar-template  .gallery h3.h2_org p {
    font-size: 20px;
    text-align: center;
}
.sidebar {
    margin-top: 30px;
    float: left;
    width: 100% !important;
    position: relative;
    cursor: pointer;
    z-index: 9;
    padding-bottom: 30px;
}
.page-id-114 .sidebar {
    margin-top: 0;
}
section#primary.content-area .sidebar ul{
    padding: 0 !important;
}
.career-page h1 {
    left: 30px !important;
    width: 100%;
    text-align: left;
    bottom: 50px !important;
    font-size: 30px !important;
    line-height: normal !important;
}
.career-page .top-banner {
    padding-top: 0px!important;
}
.career-page .top-banner img {
    /*height: 250px!important;*/
    object-fit: cover;
}
.lgc-tablet-grid-50 {
    width: 100% !important;
    height: auto !important;
/*     margin-bottom: 30px !important; */
}
.h1, h1 {
    font-size: 34px !important;
}
.parent-page.news-media1 div {
    padding-left: 0;
    padding-right: 0;
}
section#primary.content-area div[class*='col-'],.contact-form{
    padding-left: 0!important;
    padding-right: 0!important;
    width:100%;
    float:left;
}
input.wpcf7-form-control.wpcf7-submit {
    margin: 0px!important;
}
section#primary.content-area .wrapper {
    padding: 25px 0px!important;
}
.ngg-galleryoverview {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
section#primary.content-area .ngg-slideshow.slick-slider
{
    margin:0 auto !important;
}
ul.thumbnail-images li figure,.career-page ul.thumbnail-images li,
.content-area img,.thumbnail-img,.content-area iframe,
.call_box,
.contact-pg img  {
    width: 100%!important;
    margin-bottom: 10px;
    object-fit: contain;
}
.gallery .h2_org, .h2_org,.page-wrapper h1, .main-heading, .page_title {
    margin-left: 0 !important;
}
.content-area.sidebar-template .wrapper .col-md-9 article {
    padding-left: 0;
    padding-top: 30px;
}
#transc-navbar-nav>li>.dropdown-menu li.active a {
    background-color: #003b89 !important;
}
section#primary.content-area .wrapper {
    display: flex!important;
    flex-direction: column-reverse;
}

}

@media only screen and (max-width: 767px) {
    .three-btn .common-btn:nth-child(4), .three-btn .common-btn:nth-child(1) {
        padding: 13px 15px!important;
    }
    .riley-product-link a, button.riley-product-link {
    	padding: 10px;
    }
    #save-btn {
    	padding: 18px !important;
    }
    .content-area .logo-section .vdrs-logo img {
    	height: 48px !important;
    	margin-bottom: 5px;
    }
    .page-id-14899 section#primary{
        padding-left:0px;
        padding-right:0px;
    }
    .riley-product-link a, button.riley-product-link {
    	font-size: 16px;
    }
    .riley-contact-form, .product--link--section, .video--section {
    	padding: 15px;
    }
    .page-id-14899 section#primary.content-area {
    	object-fit: contain;
    	background-position: top !important;
    }
    .sales-manager {
    	padding: 20px 0 20px 0;
    }
    .riley-contact-form {
    	padding-top: 30px;
    }
    .riley-contact-form h2 {
    	margin: 0;
    	padding: 0;
    }
    .riley-video {
    	padding-top: 30px;
    }
    .product-link a, .linkedline-profile a {
    	font-size: 16px;
    }
    .form-wrapper .group--field {
    	gap: 0;
    	flex-wrap: wrap;
    }
   ul li, ol li,.content-area p, body.page-template-newpapge-homepage, .page-template-newpapge-homepage p, .page-template-home-video .leader-box p, .train-wrapper p {
        font-size: 16px;
        line-height: 24px;
    }
    .footer-wrapper ul.menu li a {
        font-size: 14px;
        line-height: normal;
    }
    .footer-wrapper h3 {
        padding-bottom: 5px;
    }
    .footer-wrapper.pull-right.youtube-link .fab {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
    }
    .footer-wrapper ul.header-info li a, .footer-wrapper ul.header-info li{
        font-size: 11px;
    }
    .page-template-news-list-press-template .contact-pg.news .col-md-4 img {
        width: 100%!important;
        object-fit: cover;
        height: auto;
    }
    .page-template-home-video section.hero-image .video-content h2 {
        visibility: visible!important;
    }
    section.expert-solution {
        display: none;
    }
    .page-template-home-video #mute{
        display:none;
    }
    .leftside, .rightside {
        width: 100%;
    }
    .footer-wrapper ul.header-info li a, .footer-wrapper ul.header-info li {
        line-height:30px;
    }
    .flex .test-training {
        display: block;
    }
    .flex {
        display: block;
    }
    .ngg-slideshow .slick-next:after, button.slick-prev.slick-arrow:after{
        display:none;
    }
    
    .page-template-default .grey-banner, .page-template-template-fullwidth .grey-banner {
        padding: 25px;
    }
    .page-wrapper h1, .main-heading, .page_title, .gallery .main-heading {
        font-size: 22px!important;
    }
    section.leader h2:before, .recycle h2:before{
    background-color: #ff401a;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
}
body.page-template-newpapge-homepage, .page-template-newpapge-homepage p, .page-template-home-video p {
    font-size: 14px;
}
.page-template-home-video .newheader .logo img, .page-template-new-sidebar .newheader .logo img, .page-template-template-fullwidth .newheader .logo img{
    margin:0 5px 5px 0;
}
.page-template-home-video .video-content a.btn.btn-default.common-btn{
    margin-right: 0;
    font-size: 8px;
    padding: 6px;
}
.page-template-home-video section.hero-image .header-content .common-btn,.page-template-home-video .common-btn{
    padding: 7px;
}   
/*.page-template-home-video section.hero-image, .page-template-new-sidebar section.hero-image {
    margin-top: 0;
}*/
.page-template-home-video section.hero-image {
    min-height:auto;
}
.page-template-home-video video {
    height: 100%;
}
.page-template-home-video #mute img {
    width: 30px;
    height: 30px;
}
.page-template-home-video #mute {
    font-size: 10px;
    bottom:0px;
}
.page-template-home-video section.hero-image .header-content h1{
    font-size: 22px !important;
    margin-top: 0;
    margin-bottom: 20px;
}
.page-template-home-video #mute{
    display:none;
}
.gallery h3.h2_org p {
    font-size: 16px;
}
.orange-color{
    font-size: 20px; 
    font-weight: bold; 
    color: #d66638; 
    text-shadow: 0 0 3px #7a7a7d;
}
article.contact-form.col-md-6 {
    margin-top: 25px;
}
.page-id-105 section>.col-md-8, .page-id-995 .video .wrapper section>.col-md-8, .page-id-105 .wrapper section#main>.col-md-4.sidebar_menu.sidebar, .page-id-995 .video .wrapper section>.col-md-4.sidebar_menu.sidebar {
    width: 100% !important;
}
.test-training .trainimg {
    max-width: 100% !important;
}
.test-training {
    margin-bottom: 25px;
    max-width:100%;
}
.test-training a {
    font-size: 20px;
    display: block;
    text-align: center;
    padding-bottom: 25px;
}
.mg-tp40 {
    margin-top: 0!important;
}
.mg-tp50 {
    margin-top: 0!important;
}
.home_video video, .home_video iframe {
    height: 350px !important;
    z-index: 0!important;
    margin-top: 70px;
    background-color:#000;
}
.header ul.nav.navbar-nav li.contact_details a{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header.inner_menu .navbar-inverse {
    padding: 0px 0 10px !important;
}

.footer-address .col-md-12.footer-text-content{
    font-size:14px;
}

.content-area .download-pdf img {
    width: auto !important;
}
/*.gallery .h2_org, .h2_org{*/
/*        display:table!important;*/
/*    }*/
#content.contact-pg {
    padding-top: 45px!important;
}
.page-template-news-list-template .news .page_title h1 {
    font-size: 32px !important;
}
.gallery .col-md-4 {
    max-width: 100% !important;
}
.gallery .h2_org, .h2_org,.page-wrapper h1, .main-heading, .page_title {
    margin-left: 0 !important;
}
.gallery .title-wrapper h1.main-heading {
    margin-bottom: 0px;
}
section#primary {padding-top: 0px!important;
}
.video_buttons .incres_he a:hover{
    margin:0 !important;
}
section.home_video.desktop_video .video_buttons {
    display: none;
}
section.mob_video_btn {
    display: block;
    float: left;
    width: 100%;
    background-color: #eaf4fe;
    padding: 8px 5px 5px;
    margin-top:410px;
}
section.mob_video_btn .video_buttons {
    position: relative !important;
    top: inherit !important;
}
.video_buttons .incres_he {
    width: 100%!important;
    display: block!important;
}
ul,ol
{
    padding-left: 0 !important;
} 
section#primary.content-area ul,section#primary.content-area ol 
{
    padding-left: 20px !important;
    width: 100% !important;
}
.career-page ul.thumbnail-images li {    
    margin-right: 0!important;
    margin-bottom: 20px;
}
.content-area h2,.gallery .h2_org,.gallery .h2_org h3 p {
    font-size: 22px!important;
    line-height:26px;
}
.gallery .title-wrapper {
    top: 50%;
    width:100%;
}
.content-area h3 {
    font-size: 18px!important;
    padding-top: 0 !important;
}
/* .contact-pg {
    padding-left: 15px;
    padding-right: 15px;
} */
ul.thumbnail-images li figure,.career-page ul.thumbnail-images li,
.content-area img,.thumbnail-img,.content-area iframe,
.call_box,
.contact-pg img  {
    width: 100%!important;
    margin-bottom: 10px;
    object-fit: contain;
}
.page-id-3218 .content-area img,
.page-id-3214 .content-area img
{
    width: auto !important;
    margin-bottom: 0!important;
}
.content-area img {
    height: auto!important;
}
.thumbnail-img h5 {
    padding: 0 !important;
    text-align: center !important;
    margin-bottom: 10px;
}
.content-area iframe {
    height: 300px;
}
.classtrainbutton a {
    margin-top: 20px !important;
}
.gallery-section .ngg-slideshow .ngg-gallery-slideshow-image {
    height: 280px !important;
}

.newheader .logo img{
    width: 250px!important;
}

}
@media only screen and (max-width: 600px) {
    .video_buttons .incres_he a {
        padding: 10px 15px!important;
        font-size: 15px !important;
    }
    .video_buttons .incres_he {
        margin: 0 1px 5px !important;
    }
    .page-template-home-video .video-content .three-btn {
        display: none;
    }


}


@media only screen and (max-width: 480px) {
.wp-block-group.youtube-video {
    margin-bottom: 205px;
}
 
    .page-template-home-video section.hero-image .header-content h1{
        margin-top: 50px;
            text-shadow: -2px 1px #000;
    }
    .footer-wrapper #nav_menu-11 h3 {
        padding-top: 5px;
    }
    .footer-wrapper .news-menu {
        margin-top: 15px;
    }
    .product-fig img{
        width: 100%;
    }
    .poster-img{
        margin-top:50px;
    }
.expert-box {
    padding: 0;
}
.h1, h1 {
    font-size: 28px !important;
}
.nav.navbar-right, .navbar-header {
    float: none !important;
    width: 170px;
    text-align: left!important;
    margin: 0 auto!important;
    margin-left:0px !important;
}
.newheader .logo img{
   width:150px !important;     
}
.newheader .navbar-toggle{
    top:7px!important;
}
.nav.navbar-nav.navbar-right.mobile-view li.contact_details a{    
    padding: 6px 16px !important;
    font-size: 10px !important;
}
.newheader .logo{
    display:block !important;
}
.page-template-home-video section.hero-image, .page-template-new-sidebar section.hero-image{
    margin:0px;
}
section.hero-image .mobile-view .common-btn{
    background: rgb(138,27,4);
    background: linear-gradient(357deg, rgba(138,27,4,1) 8%, rgba(236,58,22,1) 87%);
    color: #ffffff;
    font-size: 11px;
    border: 2px solid #fff;
    padding: 9px 45px;
    border-radius: 5px;
    -webkite-transition:0.3s all;
     transition:0.3s all;
     font-family: 'latobold';
     text-transform:uppercase;
     letter-spacing:2px;
}
section.hero-image .mobile-view .common-btn:hover,.mobile-view .common-btn:hover{
    border:2px solid #af2a0f;
    color:#fff;
}
.page-template-home-video section.hero-image .mobile-view .common-btn, .page-template-home-video .mobile-view .common-btn {
    padding: 5px 0;
    width: 100%;
    margin: 5px 0;
}
.mobile-view{
    display:block;
}
.three-btn {
    display: none;
}
.footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(2) .footer-wrapper {
    padding-left: 0;
}
.footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(3) .footer-wrapper {
    padding-left: 15px;
}
.footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(4) .footer-wrapper {
    padding-left: 0;
}
.page-template-home-video .video-background{
  height:300px;
  display:block;
  position:relative;
}
.gallery .title-wrapper {
    top: 30%;
    width: 100%;
}
.gallery {
    max-height: 200px;
}
.gallery .ngg-slideshow .ngg-gallery-slideshow-image img {
    height: 200px;
}
.homepage_service_section .home_services .services_img img {
    width: 100%;
}
.home_video video, .home_video iframe {
    height: 200px !important;
    z-index: 0!important;
    margin-top: 70px;
}
section.mob_video_btn {
    display: block;
    float: left;
    width: 100%;
    background-color: #eaf4fe;
    padding: 8px 5px 5px;
    margin-top:260px;
}

}


@media only screen and (max-width: 782px){
.wprm-wrapper #mg-wprm-wrap.cbp-spmenu-left, .wprm-wrapper #mg-wprm-wrap.cbp-spmenu-right {
    top: 67px!important;
}
}
@media screen and (max-width:1023px) and (min-width:768px) { 
.test-training {
    max-width: 353px !important;
    margin-right: 10px !important;
} 
.test-training a {
    font-size: 14px;
}
.test-training:nth-last-child(1) {
    margin-right: 0!important;
}

.header.inner_menu ul.nav.navbar-nav li.contact_details a {
    margin-top: 10px;
    }
.header ul.nav.navbar-nav li.contact_details a{
    margin-top: 5px;
    margin-bottom: 5px;
    }
.gallery .ngg-slideshow .ngg-gallery-slideshow-image img {
    height: 100%;
    }
}
@media screen and (max-width:975px) and (min-width:768px) { 
    .h_video_main {
        height: 500px !important;
    }
}
@media screen and (max-width:1060px) and (min-width:991px) {
    .page-template-home-video .navbar-header, 
    .page-template-1column-sidebar .navbar-header, 
    .page-template-careers-innerpage-template .navbar-header, 
    .page-template-template-fullwidth .navbar-header, 
    .page-template-default .navbar-header, 
    .page-template-news-list-press-template .navbar-header, 
    .page-template-news-pdf-template .navbar-header, 
    .page-template-careers-template .navbar-header, 
    .page-template-news-template .navbar-header,
    .page-template-video .navbar-header {
        max-width: 150px;
    }
    .page-template-new-sidebar .newheader #transc-navbar-nav li a {
        padding: 25px 4px;
    }
    .newheader #transc-navbar-nav li.contact_details a{
        padding: 9px;
        font-size: 11px;
        font-weight: 400;
    }
    .newheader #transc-navbar-nav{ float:none;}
    .nav.navbar-right, .navbar-header {width: 100%;max-width: 160px;}
    .page-template-home-video .navbar-header,
    .page-template-new-sidebar .navbar-header, 
    .page-template-template-fullwidth .navbar-header { max-width: 150px;}
    .newheader #transc-navbar-nav>li.contact_details{margin-top: 17px;}
    .newheader .logo {margin-top: 0px;}
    .page-template-home-video section.hero-image .header-content h1 { font-size: 40px; }
}
@media screen and (max-width:1100px) and (min-width:990px) {
    section.hero-image .header-content .common-btn{
            padding: 9px 30px;
            font-size: 12px;
    }

}
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media only screen and (min-width: 991px) {
  .nav.navbar-nav.navbar-right .contact_details  {
    display: block;
  }
  .nav.navbar-nav.navbar-right.mobile-view .contact_details  {
    display: none;
  }
  .newheader #transc-navbar-nav .menu-item-has-children:after {
    display:none;
  }
}
@media screen and (max-width:990px) and (min-width:480px) { 
    .page-template-home-video .footer-wrapper .col-lg-3.col-md-3, .page-template-new-sidebar .footer-wrapper .col-lg-3.col-md-3, .page-template-template-fullwidth .footer-wrapper .col-lg-3.col-md-3  {
        width: 50%;
    }
    .footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(2) .footer-wrapper {
        padding-left: 0;
    }
    .footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(3) .footer-wrapper {
        padding-left: 15px;
    }
    .footer-wrapper .col-lg-3.col-md-3.col-xs-12:nth-child(4) .footer-wrapper {
        padding-left: 0;
    }
    .page-template-new-sidebar .newheader .logo, .page-template-template-fullwidth .newheader .logo{
        -webkit-display:flex;
        display:flex;
    }
     .page-template-new-sidebar .newheader .navbar-nav>li.contact_details{
         margin-top:0;
     }

}

.page-template-home-video .video-background {
    width: auto;
    height: 100%;
   /* display: block;*/
    overflow: hidden;
}
.page-template-home-video .video-background video{    backface-visibility: hidden;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    perspective: 1000;
    position: relative;
    right: 0;
    z-index: -1;}
    
    
    @media screen and (max-width:991px) and (min-width:768px) { 
        section.hero-image {
            background-color: #fff;
            min-height: 300px;
        }
        .page-template-home-video section.hero-image .header-content h1{
            padding-bottom: 10px;
        }
        .page-template-home-video .video-content {
            transform: none;
            left: 0;
            bottom: 80px;
        }
    }
    @media screen and (max-width:767px) and (min-width:481px) { 
.wp-block-group.youtube-video {
    margin-bottom: 150px;
}
        .page-template-home-video section.hero-image .header-content h1{
            padding-bottom: 0px;
             text-shadow: -2px 1px #000;
        }
        .page-template-home-video .video-content{
            top:60%;
        }
    }

@media (min-width: 782px){
  .wp-block-group.four-group-img .wp-block-column:not(:first-child) {
     margin-left: 8px;
  }
}